<h2><%= @title %></h2>
<h3>Ingredients:</h3>
<ul><% @ingredients.each do |ingredient| %>
  <li><%=ingredient%></li>
  <% end %>
</ul>
<h3>Instructions:</h3>
<p class="instructions" ><%= @instructions %></p>
